<div class="categories-container">
<%= render '/shared/nav_bar', title: 'Categories', icon_name: 'bars', class_name: 'menu-icon'%>
  <div class="card-container">
    <div class="card">
      <img src="https://media.istockphoto.com/id/530686149/photo/portrait-of-two-smiling-women-holding-files-and-talking-standing-in-crowded-lobby.webp?b=1&s=612x612&w=0&k=20&c=7NVrkRRt3hzWhmfv8uR0DANfpaetZSvMPr0U2C0noF4=" alt="category 1" />
      <div class="card-content">
        <h4>Mac donalds fastfood</h4>
        <p>$45</p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.istockphoto.com/id/530686149/photo/portrait-of-two-smiling-women-holding-files-and-talking-standing-in-crowded-lobby.webp?b=1&s=612x612&w=0&k=20&c=7NVrkRRt3hzWhmfv8uR0DANfpaetZSvMPr0U2C0noF4=" alt="category 1" />
      <div class="card-content">
        <h4>Mac donalds fastfood</h4>
        <p>$45</p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.istockphoto.com/id/530686149/photo/portrait-of-two-smiling-women-holding-files-and-talking-standing-in-crowded-lobby.webp?b=1&s=612x612&w=0&k=20&c=7NVrkRRt3hzWhmfv8uR0DANfpaetZSvMPr0U2C0noF4=" alt="category 1" />
      <div class="card-content">
        <h4>Mac donalds fastfood</h4>
        <p>$45</p>
      </div>
    </div>
  </div>
  <div class='btn-container'>
    <button class="add-btn">
      Create Category
    </button>
  </div>
</div>
