<div class="expenses-container">
<%= render '/shared/nav_bar', title: 'Transactions', icon_name: 'arrow-left', class_name: 'back-icon'%>
  <div class="total-card">
    <h3>Total</h4>
    <p>$45</p>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <h4>Mac donalds fastfood</h4>
        <p>$45</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Mac donalds fastfood</h4>
        <p>$45</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Mac donalds fastfood</h4>
        <p>$45</p>
      </div>
    </div>
  </div>
  <div class='btn-container'>
    <button class="add-btn">
      Create Transaction
    </button>
  </div>
</div>
